<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Braden Godley's personal website and portfolio" />
		<title>{Astro.props.title ? `${Astro.props.title} | Braden Godley` : 'Braden Godley'}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
        font-size: 20px;
        font-family: monospace;
        background-color: black;
        color: white;
    }
</style>
